.div1 {
  top: 27px;
  left: 52px;
  border-radius: var(--br-101xl);
  background-color: var(--color-palegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1334px;
  height: 970px;
}
.div1,
.div2,
.div3 {
  position: absolute;
}
.div2 {
  top: -42px;
  left: -18px;
  border-radius: 50%;
  background-color: var(--color-palegreen);
  filter: blur(300px);
  width: 1570px;
  height: 309px;
}
.div3 {
  top: 26px;
  left: 98px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1288px;
  height: 169px;
  -webkit-text-stroke: 1px #000;
}
.div4 {
  top: 757px;
  left: -65px;
  border-radius: 50%;
  background-color: var(--color-palegreen);
  filter: blur(300px);
  width: 1570px;
  height: 309px;
}
.div4,
.div5,
.icon {
  position: absolute;
}
.div5 {
  top: 297px;
  left: -87px;
  border-radius: 50%;
  background-color: var(--color-palegreen);
  filter: blur(300px);
  width: 1570px;
  height: 450px;
}
.icon {
  top: 374px;
  left: 937px;
  border-radius: var(--br-xl);
  width: 257px;
  height: 173px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
}
.aspirin {
  margin: 0;
}
.laboratoryChemicalSafety {
  text-decoration: underline;
}
.laboratoryChemicalSafetySum1 {
  color: inherit;
}
.ch3cooc6h4cooh {
  margin-bottom: 0;
}
.c9h8o4Ch3cooc6h4cooh {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div6 {
  top: 202px;
  left: 259px;
  font-size: var(--font-inherit);
  line-height: 25px;
  font-family: var(--font-inherit);
  color: var(--font-inherit);
  text-align: left;
  display: flex;
  align-items: center;
  width: 639px;
  height: 600px;
}
.div6,
.div8,
.div9 {
  position: absolute;
}
.div8 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lime-100);
  width: 307px;
  height: 103px;
}
.div9 {
  top: 27px;
  left: 22px;
  line-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 263px;
  height: 49px;
}
.div11,
.div7 {
  position: absolute;
  width: 307px;
  height: 103px;
}
.div7 {
  top: 832px;
  left: 259px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.div11 {
  top: 8px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lime-100);
}
.div12 {
  top: 0;
  left: 26px;
  line-height: 120px;
}
.div10,
.div12,
.icon1 {
  position: absolute;
}
.icon1 {
  top: 35px;
  left: 250px;
  width: 35px;
  height: 40px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
}
.div10 {
  top: 824px;
  left: 887px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 307px;
  height: 120px;
}
.div {
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-press-start-2p);
}
