@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font: "Press Start 2P";
  --font-marmelad: Marmelad;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size: 48px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-lime-100: #2eff0c;
  --color-black: #000;
  --color-palegreen: #9bff8b;
  --color-gray: rgba(255, 255, 255, 0.96);
  --color-lawngreen: #70ff18;
  --color-lightpink: #efa7a7;
  --color-darkmagenta: #ac08af;

  /* Paddings */
  --padding-8xl: 27px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-101xl: 120px;
  --br-71xl: 90px;
}
